@use "../TopLevel/defs";

/*
 * Connection modal styling
 */

/*
 * Shrink alerts in dialogs (for status tab in particular)
 */
.modal-body .alert {
    padding-top: 0.4em;
    padding-bottom: 0.3em;
    margin-bottom: 0.5em;
}

/*
 * Connection modal dialog - keep consistent height across tabs
 */
#connection-modal-contents {
    height: 20em;
    overflow-y: auto;
}

/*
 * Align elements on the credentials tab
 */
.col-form-label {
    text-align: right;
}

label {
    padding-right: 0;
    .custom-radio, .form-check-label {
        margin-top: 0.4rem;
    }
}

/*
 * Colours
 */
.state-grey  { color: defs.$grey;   }
.state-amber { color: defs.$orange; }
.state-green { color: defs.$green;  }
.state-red   { color: defs.$red;    }

input.bad-input {
    &, &:focus {
        background-color: defs.$muddy-red;
    }
}
